doc/input/xsd/common/2.0/fep_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright @ 2020 Audi AG. All rights reserved.

       This Source Code Form is subject to the terms of the Mozilla
       Public License, v. 2.0. If a copy of the MPL was not distributed
       with this file, You can obtain one at https://mozilla.org/MPL/2.0/.

   If it is not possible or desirable to put the notice in a particular file, then
   You may include the notice in a location (such as a LICENSE file in a
   relevant directory) where a recipient would be likely to look for such a notice.

   You may add additional accurate notices of copyright ownership.
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fep.vwgroup.com/common/2.0/types"
    version="2.0.0" vc:minVersion="1.1"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"> 
    <xs:simpleType name="non_empty_norm_string">
        <xs:restriction base="xs:normalizedString">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="version_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+\.[0-9]+\.[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>   
    <xs:simpleType name="function_type">
        <xs:restriction base="xs:string">
            <xs:pattern value="simulation_time\(\)|trigger_counter\(\d+\)|received\(.*\)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="period_unit">
        <xs:restriction base="xs:string">
            <xs:enumeration value="us"/>
            <xs:enumeration value="ms"/>
            <xs:enumeration value="s"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
